<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Tikapekeskustelu</title>
        <meta charset="utf-8" /> 
    </head>

    <body>
        <h1 th:="${alue.nimi}">Lisää uusi aihe tai jatka jo valmiisiin</h1>
        
       <table align="center" style="width:50%">
            <tr>
                <th>Aihe</th>
                <th>luomispäivä</th>
            </tr>
            <th:block th:each="alkio : ${aiheet}">
                <tr>
                    <td>
                        <a th:href="@{~/{a_id}(a_id=${alkio.id})}" th:text="${alkio.nimi}">nimi</a>
                    </td>
                    <td th:text="${alkio.luomispaiva}">luomispäivä</td>
                </tr>
            </th:block>
        </table>
        
        <form align="center" method="POST" action="/${aihe.nimi}">
            <br/>
            <input type="text" name="nimi"/><br/>
            <input type="submit" value="Lisää aihe"/>
            
        </form>
        <a th:href="@{~/}" th:text="Takaisin">a</a>
    </body>
</html>